* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f5f5;
  font-weight: 500;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

/* =========== Style Main and Form =========== */

main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main p {
  max-width: 300px;
  text-align: center;
  margin-bottom: 1.5rem;
}

main h1 {
  color: #ff4747;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form label {
  display: flex;
  flex-direction: column;
}

main form input {
  background: #e2ebf3;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  color: rgb(94, 92, 92);
  font-size: 1rem;
  border: 1px solid #c0c1c2;
  border-radius: 8px;
}

/* =========== Style Checkbox =========== */
main form div span {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checkbox input {
  display: none;
}

.checkbox input + span:before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #e2ebf3;
  border: 1px solid #c0c1c2;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.checkbox input:checked + span:before {
  content: '\2714';
  color: #ffffff;
  font-size: 0.9rem;
  background-color: #ff4747;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

main form div label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

main .remember-forgot a {
  font-size: 0.8rem;
  color: #050505;
}

main .remember-forgot span {
  font-size: 0.9rem;
}

main form div a:hover {
  text-decoration: none;
}

/* =========== Style Button =========== */

main form input[type='submit'] {
  cursor: pointer;
  margin-top: 90px;
  border: none;
  border-radius: 4px;
  background: #ff4747;
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

main form input[type='submit']:hover {
  background: #fa2424;
}

/* =========== Images =========== */

section.image {
  width: 50vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4rem;
}

section.image img {
  width: 100%;
}

section.image .circle {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    122deg,
    rgba(193, 33, 87, 1) 30%,
    rgba(249, 9, 9, 1) 67%
  );
  bottom: 0;
  right: 0;
  clip-path: circle(40% at left 17%);
  z-index: -1;
}

/* =========== Or login with =========== */

main .alternative {
  margin-top: 1.5rem;
}

main .alternative span {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(94, 92, 92);
  position: relative;
}

main .alternative span::before,
main .alternative span::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 50px;
  bottom: 50%;
  right: 125px;
  background: rgb(94, 92, 92);
}

main .alternative span::after {
  left: 125px;
}

/* =========== Social Media =========== */

main .social-media {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 3rem;
}

main .social-media a {
  text-decoration: none;
}

main .social-media img {
  width: 50px;
}

main .social-media a:first-child img {
  margin-left: 0;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  section.image img {
    width: 110%;
  }

  section.image .circle {
    clip-path: circle(35% at left 17%);
  }
}

@media only screen and (max-width: 900px) {
  section.image {
    display: none;
    visibility: hidden;
  }

  main {
    width: 100vw;
  }
}

@media only screen and (max-width: 450px) {
  main h1 {
    font-size: 2rem;
  }

  main .alternative span {
    font-size: 0.8rem;
  }

  main form input {
    width: 280px;
  }

  main form div label {
    padding-right: 3px;
  }
}
